@import '@angular/material/prebuilt-themes/indigo-pink.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
  --transition-speed: 0.2s;
  --transition-curve: cubic-bezier(0.4, 0, 0.2, 1);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Poppins', Roboto, 'Helvetica Neue', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* Utils */
.glass-effect {
  background: rgba(255, 255, 255, 0.7);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

.dark .glass-effect {
  background: rgba(28, 27, 31, 0.7);
}
