@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: 'Poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #f8f9fa;
}

::-webkit-scrollbar-thumb {
  background: #d1d1d1;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #b1b1b1;
}

.dark ::-webkit-scrollbar-track {
  background: #202124;
}

.dark ::-webkit-scrollbar-thumb {
  background: #5f6368;
}

.dark ::-webkit-scrollbar-thumb:hover {
  background: #9aa0a6;
}
